<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="presenceFilePath" value="" />
    <add key="presenceFileExts" value=".xls,.xlsx" />
    <add key="presenceFileRegex" value="(\d{4})Time Sheet-(\d{4})\s*(.*)" />
    <add key="presenceFileFormats" value="{year},{no},{name}" />
    <add key="absenceFilePath" value="" />
    <add key="absenceFileExts" value=".doc,.docx" />
    <add key="absenceFileRegex" value="(\d{4})-(\w+)-(\d{3})(\d{2})(\d{2})(?:-(\d{2,4}))?休(?:\((\d)\))?" />
    <add key="absenceFileFormats" value="{no},{name},{year},{month},{day},{day2},{hours}" />
    <add key="defaultClockInTime" value="9:30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>